<div class="container p-5">
    <div class="row">
        <div class="col-lg-7 ">
            <div class="row h-100 p-3">
                <div class="card-custom p-5">
                    <div class="col-lg-12 p-0">
                        <h5 style="color: #00A9E0;">Cooperación Alemana implementada por GIZ</h5>
                    </div>
                    <div class="col-lg-12 p-0 pb-3">
                        <hr class="line m-0">
                    </div>
                    <div class="col-lg-12 p-0 align-self-center">
                        <p class="text-justify m-0">La Cooperación Técnica Alemana implementada por GIZ se dedica a la cooperación internacional a nivel mundial. GIZ contribuye a fortalecer la capacidad institucional de los organismos estatales y no estatales en materia de integridad,
                            transparencia y prevención de la corrupción. En enero de 2020, la Cooperación Técnica Alemana dio inicio al programa ‘Ecuador SinCero- Prevención de la Corrupción, Transparencia y Participación Ciudadana’. El “Programa Ecuador
                            SinCero” es una iniciativa implementada por la Cooperación Alemana GIZ. El objetivo del programa es brindar cooperación técnica para crear las condiciones habilitantes en las instituciones para prevenir la corrupción, de conformidad
                            con estándares e iniciativas internacionales</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-5 ">
            <div class="row p-3">
                <div class="card-custom p-5">
                    <div class="col-lg-12 p-0">
                        <h5 style="color: #00A9E0;">FARO</h5>
                    </div>
                    <div class="col-lg-12 p-0 pb-3">
                        <hr class="line m-0">
                    </div>
                    <div class="col-lg-12 p-0">
                        <p class="text-justify m-0">La Fundación para el Avance de las Reformas y las Oportunidades –FARO, es un centro de investigación y acción independiente que desde el año 2004 genera evidencia e implementa iniciativas para incidir en la política pública y promover
                            prácticas para una sociedad más equitativa y sostenible. FARO impulsa iniciativas que aportan a la construcción de una democracia de calidad a través del fortalecimiento de las instituciones, la promoción del rol activo de
                            la ciudadanía en la gestión pública y el ejercicio permanente de la transparencia y la lucha contra la corrupción.</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-12">
            <img src="assets/images/democracia.svg" alt="reunion" class="img-fluid">
        </div>
        <div class="col-lg-12">
            <div class="card-custom ">
                <div class="row p-4">
                    <div class="col-lg-4 p-0 align-self-center">
                        <img src="assets/images/grafica.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-8 p-0">
                        <div class="row p-5">
                            <div class="col-lg-12 p-0">
                                <h5 style="color: #00A9E0;">Más allá de la percepción: generando mediciones y data en materia de integridad</h5>
                            </div>
                            <div class="col-lg-12 p-0 pb-3">
                                <hr class="line m-0">
                            </div>
                            <div class="col-lg-12 p-0">
                                <p class="text-justify">FARO gracias al apoyo de la Cooperación Alemana GIZ, implementó el proyecto “Más allá de la percepción: generando mediciones y data en materia de integridad”. Este proyecto busca generar instrumentos innovadores de medición
                                    de la integridad que aporten a la producción de datos, información e investigación, y que contribuyan a combatir la corrupción a través de políticas públicas basadas en evidencia, y sobre la base de recomendaciones
                                    y comparaciones de carácter regional.</p>
                                <p class="m-0 text-justify fst-italic">
                                    El proyecto se enfocó en diseñar un instrumento de medición de la integridad a nivel local para posteriormente probarlo en dos GAD Municipales a manera de pilotajes, en un ejercicio paralelo de fortalecimiento de capacidades. Los GAD Municipales que fueron
                                    parte de este proyecto son Loja y Manta.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 pt-5 pb-5">
            <div class="card-custom ">
                <div class="row p-4">
                    <div class="col-lg-4 p-0 align-self-center">
                        <img src="assets/images/form.svg" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-8 p-0">
                        <div class="row p-5">
                            <div class="col-lg-12 p-0">
                                <h5 style="color: #00A9E0;">¿Qué contiene la herramienta de medición de integridad local?</h5>
                            </div>
                            <div class="col-lg-12 p-0 pb-3">
                                <hr class="line m-0">
                            </div>
                            <div class="col-lg-12 p-0">
                                <p class="text-justify">La herramienta a continuación se compone de un instrumento (tipo formulario) organizado en 6 dimensiones principales, 19 variables, y 44 ítems distribuidos en todo el instrumento. Los ítems del formulario están enfocados
                                    en medir la integridad, transparencia y lucha contra la corrupción en su municipio. </p>
                            </div>
                            <div class="col-lg-12 p-0">
                                <h6 style="color: #00A9E0;">La herramienta se divide en dos componentes:
                                </h6>
                            </div>
                            <div class="col-lg-12 p-0">
                                <p class="m-0"><span style="color: #00A9E0; font-weight: bold;">Componente 1: </span>que evalúa las dimensiones bajo un criterio de selección mutuamente excluyente.</p>
                                <p><span style="color: #00A9E0; font-weight: bold;">Componente 2: </span>que evalúa las dimensiones de forma acumulativa.</p>
                                <p>Usted deberá completar ambos componentes para que se pueda generar un cálculo del índice de integridad municipal.
                                </p>
                                <p class="text-justify m-0">Para completar el instrumento, debe responder a cada ítem mediante la selección de una o múltiples categorías de calificación según el componente, y adjuntar el verificable específico según la respuesta seleccionada. A
                                    continuación, se explica el tipo de verificable que usted puede adjuntar y el formato aceptado por cada uno: </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-12">
            <table style="color: white;">
                <thead>
                    <tr style="background:#006eae ; text-align: center; ">
                        <th style="border: white solid 3px; padding: 7px;">Tipo</th>
                        <th style="border: white solid 3px; padding: 7px;">Verificable</th>
                        <th style="border: white solid 3px; padding: 7px;">Descripción</th>
                        <th style="border: white solid 3px; padding: 7px;">Formato</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="background:#00a9e0; border: white solid 3px; text-align: center;padding: 7px;" rowspan="9">Físicos</td>
                        <td style="background:#00a9e0; border: white solid 3px; text-align: center;padding: 7px;">Documento</td>
                        <td style="background:#00a9e0; border: white solid 3px; text-align: center;padding: 7px;">Un escrito formal que contenga información que de hecho de una acción, actividad, evento o circunstancia del municipio.</td>
                        <td style="background:#00a9e0; border: white solid 3px; text-align: center;padding: 7px;">Escaneo (PDF) o fotografía (JPG o PNG)</td>
                    </tr>
                    <tr>
                        <td style="background:#0092d3; border: white solid 3px; text-align: center;padding: 7px;">Informes</td>
                        <td style="background:#0092d3; border: white solid 3px; text-align: center;padding: 7px;">Un escrito que contiene información previamente revisada y procesada con el fin de comunicar sobre acciones o actividades realizadas en el municipio.</td>
                        <td style="background:#0092d3; border: white solid 3px; text-align: center;padding: 7px;">Escaneo (PDF) o fotografía (JPG o PNG) </td>
                    </tr>
                    <tr>
                        <td style="background:#00a9e0; border: white solid 3px; text-align: center;padding: 7px;">Acta</td>
                        <td style="background:#00a9e0; border: white solid 3px; text-align: center;padding: 7px;">Un escrito que contiene los sucesos, acuerdos o temas tratados en una junta o reunión municipal.</td>
                        <td style="background:#00a9e0; border: white solid 3px; text-align: center;padding: 7px;">Escaneo (PDF) o fotografía (JPG o PNG)</td>
                    </tr>
                    <tr>
                        <td style="background:#0092d3; border: white solid 3px; text-align: center;padding: 7px;">Plan</td>
                        <td style="background:#0092d3; border: white solid 3px; text-align: center;padding: 7px;">Un documento detallado que contiene objetivos claros, cronograma de actividades, responsables y presupuesto asignado para una actividad en el municipio.</td>
                        <td style="background:#0092d3; border: white solid 3px; text-align: center;padding: 7px;">Escaneo (PDF) o fotografía (JPG o PNG)</td>
                    </tr>
                    <tr>
                        <td style="background:#00a9e0; border: white solid 3px; text-align: center;padding: 7px;">Bitácora</td>
                        <td style="background:#00a9e0; border: white solid 3px; text-align: center;padding: 7px;">Un escrito que contiene apuntes o un registro general de lo ejecutado en una reunión, junta o actividad.</td>
                        <td style="background:#00a9e0; border: white solid 3px; text-align: center;padding: 7px;">Escaneo (PDF) o fotografía (JPG o PNG)</td>
                    </tr>
                    <tr>
                        <td style="background:#0092d3; border: white solid 3px; text-align: center;padding: 7px;">Manual o guía</td>
                        <td style="background:#0092d3; border: white solid 3px; text-align: center;padding: 7px;">Un escrito que contiene instrucciones de un proceso en específico a implementarse en el municipio.</td>
                        <td style="background:#0092d3; border: white solid 3px; text-align: center;padding: 7px;">Escaneo (PDF) o fotografía (JPG o PNG)</td>
                    </tr>
                    <tr>
                        <td style="background:#00a9e0; border: white solid 3px; text-align: center;padding: 7px;">Protocolo</td>
                        <td style="background:#00a9e0; border: white solid 3px; text-align: center;padding: 7px;">Un escrito que contenga normas o reglas que rijan ciertas actividades o espacios dentro del municipio.</td>
                        <td style="background:#00a9e0; border: white solid 3px; text-align: center;padding: 7px;">Escaneo (PDF) o fotografía (JPG o PNG)</td>
                    </tr>
                    <tr>
                        <td style="background:#0092d3; border: white solid 3px; text-align: center;padding: 7px;">Buzón</td>
                        <td style="background:#0092d3; border: white solid 3px; text-align: center;padding: 7px;">Espacio designado en un espacio en el municipio donde se puede depositar o ingresar información.</td>
                        <td style="background:#0092d3; border: white solid 3px; text-align: center;padding: 7px;">Fotografía (JPG o PNG)</td>
                    </tr>
                    <tr>
                        <td style="background:#00a9e0; border: white solid 3px; text-align: center;padding: 7px;">Listado de asistencia</td>
                        <td style="background:#00a9e0; border: white solid 3px; text-align: center;padding: 7px;">Escrito que contenga la información de las personas participantes de un evento, reunión, junta o actividad.</td>
                        <td style="background:#00a9e0; border: white solid 3px; text-align: center;padding: 7px;">Escaneo o fotografía (JPG o PNG)</td>
                    </tr>
                    <tr>
                        <td style="background:#6fb74a; border: white solid 3px; text-align: center;padding: 7px;" rowspan="5">Digitales</td>
                        <td style="background:#6fb74a; border: white solid 3px; text-align: center;padding: 7px;">Aplicación o aplicativo</td>
                        <td style="background:#6fb74a; border: white solid 3px; text-align: center;padding: 7px;">Un software diseñado para cumplir una actividad específica. La aplicación debe estar disponible en una tienda virtual como App Store, Google Play, etc.</td>
                        <td style="background:#6fb74a; border: white solid 3px; text-align: center;padding: 7px;">URL de descarga o captura de pantalla (JPG o PNG)</td>
                    </tr>
                    <tr>
                        <td style="background:#8cce52; border: white solid 3px; text-align: center;padding: 7px;">Correo electrónico</td>
                        <td style="background:#8cce52; border: white solid 3px; text-align: center;padding: 7px;">Mensaje digital registrado entre personas. Es un medio usado para enviar información de una persona a otra de forma digital. Es también un canal para registrar denuncias a funcionarios del municipio.</td>
                        <td style="background:#8cce52; border: white solid 3px; text-align: center;padding: 7px;">URL, captura de pantalla o PDF para descarga</td>
                    </tr>
                    <tr>
                        <td style="background:#6fb74a; border: white solid 3px; text-align: center;padding: 7px;">Captura de Pantalla</td>
                        <td style="background:#6fb74a; border: white solid 3px; text-align: center;padding: 7px;">Es una fotografía digital que realiza la computadora del contenido que aparece en la pantalla.</td>
                        <td style="background:#6fb74a; border: white solid 3px; text-align: center;padding: 7px;">Fotografía (JPG o PNG) o PDF</td>
                    </tr>
                    <tr>
                        <td style="background:#8cce52; border: white solid 3px; text-align: center;padding: 7px;">Página web</td>
                        <td style="background:#8cce52; border: white solid 3px; text-align: center;padding: 7px;">Información que se encuentra en una dirección web específica.</td>
                        <td style="background:#8cce52; border: white solid 3px; text-align: center;padding: 7px;">URL de acceso o código QR (JPG o PNG)</td>
                    </tr>
                    <tr>
                        <td style="background:#6fb74a; border: white solid 3px; text-align: center;padding: 7px;">Enlace o Link</td>
                        <td style="background:#6fb74a; border: white solid 3px; text-align: center;padding: 7px;">Elemento que permite acceder de manera directa y automática a un archivo o parte del mismo. Se utiliza para información que se encuentra en datos abiertos.</td>
                        <td style="background:#6fb74a; border: white solid 3px; text-align: center;padding: 7px;">URL de acceso o código QR (JPG o PNG)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-12 pt-5 pb-5">
            <div class="card-custom ">
                <div class="row p-5">
                    <div class="col-lg-12 p-0">
                        <h5 style="color: #00A9E0;">Instructivo de llenado de la herramienta:
                        </h5>
                    </div>
                    <div class="col-lg-12 p-0 pb-3">
                        <hr class="line m-0">
                    </div>
                    <div class="col-lg-12 p-0">
                        <p style="color: #00A9E0;">Componente 1:</p>
                        <p class="text-justify">En esta sección evaluaremos 24 ítems correspondientes a 4 dimensiones del Índice de Integridad Pública a Nivel Local. En la herramienta encontrará cada ítem con sus respectivas categorías de calificación. En este componente, las
                            categorías de calificación son excluyentes entre sí y se permite únicamente seleccionar una categoría.</p>
                        <p>Por favor, seleccione la categoría que corresponda a la calificación del ítem según el verificable con que se cuente. Para más información sobre el tipo de verificable requerido para cada categoría refiérase a la Guía de Implementación
                            del Índice de Integridad Pública a Nivel Local.</p>
                        <p style="color: #00A9E0;">Componente 2:</p>
                        <p class="text-justify">En esta sección evaluaremos 20 ítems correspondientes a 4 dimensiones del Índice de Integridad Pública a Nivel Local. En la herramienta encontrará cada ítem con sus respectivas categorías de calificación. En este componente, las
                            categorías de calificación son acumulativas y se permite seleccionar una o más categorías.</p>
                        <p>Por favor, seleccione todas las categorías que correspondan a la calificación del ítem según los verificables con los que cuente. Adjuntar el verificable correspondiente a la categoría más alta de calificación. Para más información
                            sobre el tipo de verificable requerido para cada categoría refiérase a la Guía de Implementación del Índice de Integridad Pública a Nivel Local.</p>
                        <p>
                            Al finalizar con la selección de categoría, recuerde insertar el adjunto del verificable. Una vez completados todos los ítems, no olvide guardar sus respuestas antes de continuar a la siguiente sección.
                        </p>
                        <p>
                            Le agradecemos por su colaboración y contribución a la construcción de un gobierno más transparente e íntegro.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6" routerLink="/formulario/preguntas/1">
            <div class="card-custom  cursor-pointer">
                <div class="row p-4">
                    <div class="col-lg-5">
                        <img src="assets/images/ciudad.png" alt="ciudad" class="img-fluid">
                    </div>
                    <div class="col-lg-7 text-center align-self-center">
                        <h2 class="texto-ciudad">MANTA</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 texto-ciudad" routerLink="/formulario/preguntas/2">
            <div class="card-custom  cursor-pointer">
                <div class="row p-4">
                    <div class="col-lg-5">
                        <img src="assets/images/ciudad1.png" alt="ciudad1" class="img-fluid">
                    </div>
                    <div class="col-lg-7 text-center align-self-center">
                        <h2 class="texto-ciudad">LOJA</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>