<div class="row">
    <div class="col-lg-3  p-4 text-center">
        <img src="assets/images/giz.jpg" alt="logo" class="cursor-pointer" height="96" routerLink="/auth/home">
    </div>
    <div class="col-lg-6 p-4 align-self-center text-center">
        <h2 style="color: #00A9E0;">Índice de Integridad Pública a Nivel Local</h2>
    </div>
    <div class="col-lg-3 text-center p-4">
        <img src="assets/images/logo.png" alt="logo" class="cursor-pointer" height="96" routerLink="/auth/home">
    </div>
</div>