<app-header>
</app-header>
<div class="row">
    <div class="col-lg-6 p-0" style="border: solid #00A9E0 2px; background: #00A9E0;"></div>
    <div class="col-lg-1 p-0" style="border: solid #00A9E0 2px; background: #00A9E0;"></div>
    <div class="col-lg-1 p-0" style="border: solid #EC6710 2px; background: #EC6710;"></div>
    <div class="col-lg-1 p-0" style="border: solid #F6A00B 2px; background: #F6A00B;"></div>
    <div class="col-lg-1 p-0" style="border: solid #6FB74A 2px; background: #6FB74A;"></div>
    <div class="col-lg-1 p-0" style="border: solid #C52C7F 2px; background: #C52C7F;"></div>
    <div class="col-lg-1 p-0" style="border: solid #DD6399 2px; background: #DD6399;"></div>
</div>
<div style="background:#EFF2FB;">
    <div class="container p-5 m-0" style="max-width: 100%;">
        <router-outlet></router-outlet>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 p-0" style="border: solid #00A9E0 2px; background: #00A9E0;"></div>
    <div class="col-lg-1 p-0" style="border: solid #00A9E0 2px; background: #00A9E0;"></div>
    <div class="col-lg-1 p-0" style="border: solid #EC6710 2px; background: #EC6710;"></div>
    <div class="col-lg-1 p-0" style="border: solid #F6A00B 2px; background: #F6A00B;"></div>
    <div class="col-lg-1 p-0" style="border: solid #6FB74A 2px; background: #6FB74A;"></div>
    <div class="col-lg-1 p-0" style="border: solid #C52C7F 2px; background: #C52C7F;"></div>
    <div class="col-lg-1 p-0" style="border: solid #DD6399 2px; background: #DD6399;"></div>
</div>
<app-footer>
</app-footer>