body,
html {
    height: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.boton {
    background: #00A9E0;
    height: 55px;
    width: 170px;
    border-radius: 30px;
    border: none;
    color: white;
    font-size: 15px;
    -webkit-box-shadow: 1px 3px 14px -2px rgba(0, 169, 224, 0.2);
    -moz-box-shadow: 1px 3px 14px -2px rgba(0, 169, 224, 0.2);
    box-shadow: 1px 3px 14px -2px rgba(0, 169, 224, 0.2);
}

.text-justify {
    text-align: justify;
}

.card-custom {
    background: #fff;
    border: #D8D8D8 solid 1px;
    border-radius: 40px;
    color: #757575;
    font-size: 15px;
    -webkit-box-shadow: 1px 3px 17px -2px rgba(0, 169, 224, 0.2);
    -moz-box-shadow: 1px 3px 17px -2px rgba(0, 169, 224, 0.2);
    box-shadow: 1px 3px 17px -2px rgba(0, 169, 224, 0.2);
}

.line {
    background: #00A9E0;
    border: #00A9E0 solid 1px
}

#mostrar {
    display: none !important;
}

#mostra-2 {
    display: block !important;
}

@media (max-width:1220px) {
    #mostrar {
        display: block !important;
    }
}

@media (max-width:1221px) {
    #mostrar-2 {
        display: none !important;
    }
}